.HA_VERSION
.uuid
*.sublime-project
*.sublime-workspace
deps/
tts/
.storage/
www/custom_ui/floorplan/floorplan.svg
.ios.conf
.homekit.state

automations.yaml
bravia.conf
home-assistant_v2.db*
home-assistant.log
known_devices.yaml
private.yaml
sabnzbd.conf
scripts.yaml
secrets.yaml
snapshot

OZW_Log.txt
options.xml
pyozw.sqlite
zigbee.db
zwcfg_*.xml
zwscene.xml
