.HA_VERSION
.uuid
*.sublime-project
*.sublime-workspace
deps/
tts/
.storage/

automations.yaml
bravia.conf
home-assistant_v2.db
home-assistant.log
known_devices.yaml
sabnzbd.conf
scripts.yaml
secrets.yaml
