homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_lat
  longitude: !secret home_lng
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Montreal
  # Customization file
  customize: !include_dir_merge_named ha_configs/customizations/

# Enables the system health component
system_health:

# Enables the frontend
frontend:
    themes: !include_dir_merge_named themes

# Enables lovelace from YAML
lovelace:
  mode: yaml

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret home_api_pwd
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

recorder:
  db_url: !secret db_mysql
  purge_keep_days: 365
  exclude:
    entities:
      - sun.sun
      - sensor.dark_sky_summary
      - sensor.dark_sky_minutely_summary
      - sensor.dark_sky_hourly_summary
      - sensor.dark_sky_daily_summary
      - sensor.dark_sky_nearest_storm_distance
      - sensor.dark_sky_nearest_storm_bearing
      - sensor.dark_sky_precip_type
      - sensor.dark_sky_precip_intensity
      - sensor.dark_sky_precip_probability
      - sensor.dark_sky_temperature
      - sensor.dark_sky_apparent_temperature
      - sensor.dark_sky_dew_point
      - sensor.dark_sky_wind_speed
      - sensor.dark_sky_wind_bearing
      - sensor.dark_sky_cloud_cover
      - sensor.dark_sky_humidity
      - sensor.dark_sky_pressure
      - sensor.dark_sky_visibility
      - sensor.dark_sky_ozone

# View all events in a logbook
logbook:

# Track the sun
sun:

weather:
  - platform: darksky
    api_key: !secret darksky_api_key
    mode: 'hourly'

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

media_player: !include ha_configs/media_players.yaml

light: !include ha_configs/lights.yaml

device_tracker:
  - platform: nmap_tracker
    new_device_defaults:
      track_new_devices: False
    consider_home: 15
    hosts: 192.168.1.0/24

scene: !include_dir_merge_list ha_configs/scenes
group: !include ha_configs/groups.yaml
automation: !include_dir_list ha_configs/automations
script: !include scripts.yaml
sensor: !include ha_configs/sensors.yaml

zwave:
  usb_path: /dev/ttyACM0
  polling_interval: 30000
  device_config:
    light.bathroom_light_level:
      polling_intensity: 1

# Enable zigbee devices
zha:
  usb_path: /dev/ttyUSB1
  database_path: /config/zigbee.db

homekit:
  auto_start: False
  filter:
    include_domains:
      - light
      - media_player
      - device_tracker
      - sensor
  entity_config:
      light.ambient_light_tv:
        name: TV Light
      light.ambient_light_counter:
        name: Counter Light
      light.table_light:
        name: Entrance Light
      sensor.hall_temperature:
        name: Hall Temperature
      media_player.sony_bravia_tv:
        name: TV
        feature_list:
          - feature: on_off
          - feature: play_pause
          - feature: toggle_mute
      media_player.office_speaker:
        name: Office Speaker
        feature_list:
          - feature: play_pause
          - feature: play_stop
          - feature: toggle_mute
