homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_lat
  longitude: !secret home_lng
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret home_elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  country: CA
  currency: CAD
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Montreal
  # Customization file
  customize: !include_dir_merge_named ha_configs/customizations/

# Enables the system health component
system_health:

# Enables the frontend
frontend:
    themes: !include_dir_merge_named themes

# Enables lovelace from YAML
lovelace:
  mode: yaml
  resources:
    - url: /local/mini-graph-card-bundle.js?v=0.12.0-dev.4
      type: module
    - url: /local/rgb-light-card.js
      type: module

# Enables configuration UI
config:

http:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

recorder:
  db_url: !secret db_mysql
  purge_keep_days: 365
  exclude:
    entities:
      - sun.sun

# View all events in a logbook
logbook:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

media_player: !include ha_configs/media_players.yaml

scene: !include_dir_merge_list ha_configs/scenes
group: !include ha_configs/groups.yaml
automation: !include_dir_list ha_configs/automations
script: !include_dir_merge_named ha_configs/scripts
sensor: !include ha_configs/sensors.yaml

# Enable zigbee devices
zha:
  database_path: /config/zigbee.db

homekit:
  - name: HomekitBridge
    auto_start: false
    port: 21063
    filter:
      include_domains:
        - light
        - media_player
        - device_tracker
        - sensor
        - switch
      exclude_entities:
        - light.table_light_old
        - media_player.living_room_tv
        - media_player.office_speaker
        - media_player.pioneer_vsx932
        - media_player.pioneer_avr_zone_2
    entity_config:
      light.ambient_light_tv:
        name: TV Light
      light.ambient_light_counter:
        name: Counter Light
      light.table_light:
        name: Entrance Light
      sensor.hall_temperature:
        name: Hall Temperature

  - name: HomekitBridgeTV
    auto_start: false
    port: 21064
    mode: accessory
    filter:
      include_entities:
        - media_player.living_room_tv

input_select:
  cristians_state:
    name: Cristian is...
    options:
      - Awake
      - Asleep
  living_room_lighting_state:
    name: Living room is...
    options:
      - 'Off'
      - Normal
      - Gaming
      - Romantic

input_datetime:
  lighting_on_time:
    name: Lighting On Time
    has_date: false
    has_time: true
    initial: '16:30:00'

wake_on_lan:

mqtt:
  sensor:
    unique_id: player_status
    name: "Status"
    state_topic: "homeassistant/falcon/player/FalconPlayer/status"
    device:
      name: "FalconPlayer"
      identifiers: "A4:C1:38:EB:49:E0"
